@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600&display=swap");
@import "./reset";
@import "./breakpoints";
@import "./layout";
@import "./header";
@import "./banner";
@import "./selectionDetail";
@import "./selectionPlatform";
@import "./footer";
@import "./coupon";
@import "./dialog";
@import "./arrow";
// after fixed

.main {
  // margin-bottom:-410px;
  overflow: hidden;
}
.mob-view {
  display: none !important;
  @include mobile {
    display: block !important;
  }
}
.web-view {
  display: block !important;
  @include mobile {
    display: none !important;
  }
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
