doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title DAWHO舞匯-永豐DAWHO
    link(rel='shortcut icon' type='image/x-icon' href='favicon.ico')
    meta(property='og:type' content='website')
    meta(property='og:locale' content='zh_TW')
    meta(property='og:title' content='DAWHO舞匯-首次換匯新舞伴&最懂換匯的舞王舞后')
    meta(property='og:description' content='永豐銀行DAWHO舞匯，首次換匯新舞伴&最懂換匯的舞王舞后')
    meta(property='og:image' content='./img/fb.png')
    meta(name='keyword' content='永豐銀行,永豐大戶,永豐數位帳戶,數位帳戶,大戶, DAWHO,首次換匯,再次換匯,新舞伴,舞王舞后,外幣,換匯,全家,咖啡,新臺幣,DAWHO APP。')
    // google font
    link(href='https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css')
    link( rel='stylesheet' href="https://unpkg.com/swiper/swiper-bundle.min.css" )
    // style

    link(rel='stylesheet' href='./css/all.css')
  // 導覽列
  body
    .web-view
      a.topNav(href="https://apply.sinopac.com/OpenAccount/OpenAccount/Login?openExternalBrowser=1&tickset=SIN020&tko=DANCE&utm_source=mgm&utm_medium=links&utm_term=non-paid&utm_content=SIN020-DANCE&utm_campaign=mgm#" target="_blank")
        img(src="./img/dawho-side-logo.png")
        p 我要當
          br
          | DAWHO
    .mob-view 
      .footer-nav-wrapper
        .nav1 
          a.btn1.btn(href='https://mma.sinopac.com/SinoCard/activity/verify/TP38?utm_source=mma&utm_medium=button&utm_term=nonpaid&utm_content=eventsignup&utm_campaign=dawhodance202109' target="_blank")
            img(src="./img/btn-icon1.svg")
            | 成為大戶
          a.btn2.btn(href='https://mma.sinopac.com/SinoCard/activity/verify/TP39?utm_source=mma&utm_medium=button&utm_term=nonpaid&utm_content=eventsignup2&utm_campaign=dawhodance202109' target="_blank")
            img(src="./img/btn-icon1.svg")
            | 成為大戶
        .nav2
          a.btn1.btn(href="https://linebc.sinopac.com/bcsweb/l/1675" target="_blank" )
            .btn-icon 二部曲
            | 綁定LINE
          a.btn2.btn(href="https://linebc.sinopac.com/bcsweb/l/1675" target="_blank" )
            .btn-icon 二部曲
            | 綁定LINE
        .nav3
          a.btn1.btn(href="https://dawho.tw/hot/dawhoapp-exchange/?utm_source=dawho&utm_medium=button&utm_term=nonpaid&utm_content=exchange&utm_campaign=dawhodance202109" target="_blank")
            .btn-icon 三部曲
            | 立即換匯
          a.btn2.btn(href="https://dawho.tw/hot/dawhoapp-exchange/?utm_source=dawho&utm_medium=button&utm_term=nonpaid&utm_content=exchange&utm_campaign=dawhodance202109" target="_blank")
            .btn-icon 三部曲
            | 立即換匯
        

    nav.header
      .header-wrapper
        //- input#menu-toggle(type='checkbox' onclick='handleClick(this);')
        //- label(for='menu-toggle')
        //-   span
        //-   span
        //-   span
        a.logo(href='index.html')
          img(src='./img/nav-logo.png' alt='台北富邦銀行')
    // 下方區域
    section.main
      .banner-bg-wrapper
        .main-wrapper
          #banner
            .concern-wrapper
            .slogan-wrapper
            
              .slogan
                img(src='./img/slogan.png' alt='')
              .slogan2
                span 投資就像一場舞會，教你舞步的人未必能走到散場，但DAWHO一直都在。
              .slogan3
                span 入場資格
                span DAWHO數位帳戶客戶
                span 2021/09/01-2021/09/30
            
              //- .conern-platform
              //-   img(src='./img/concern-bg.svg' alt='')
              //- .conern-dancefan
              //-   img(src='./img/banner-dancefan-bg.svg' alt='')
            //- #scrollDownBtn(data-selection='selectionDetail')
            //-   span 向下滑動看更多
            //-   .icon
            //-     .arrow.arrow-first
            //-     .arrow.arrow-second
      .selectionCoupon-bg-wrapper
        .main-wrapper
          //- .squirrel
          #selectionCoupon
            //- #selectionCoupon-title
              //- .title
              //-   img(src='./img/selection-coupon-title.svg')
            #selectionCoupon-description
              #selectionCoupon-description-innerWrapper
                a#coupon1.active.coupon(href='https://mkp-tsbank.cdn.hinet.net/TsCms/marketing/expose/WM_20200617141221172/index.html' target='_blank')
                  h3 首次換匯的新舞伴
                  .detail
                    p 全家咖啡乙杯
                      span (限量5,000名)
                    //- .icon-wrapper
                    //-   .icon
                    //-     img(src='./img/coupon-icon-1.svg')
                    //-     .icon-more
                    //-       img(src='./img/coupon-icon-more.svg')
                a#coupon2.coupon(href='https://mkp-tsbank.cdn.hinet.net/TsCms/marketing/expose/WM_20200114105209297/index.html' target='_blank')
                  //- .coupon-btn
                  //-   img(src='./img/coupon-mob-btn.svg' alt='')
                  h3 最懂換匯的舞王舞后

                  .detail
                    p 最懂換匯的舞王午后抽全家咖啡一個月
                      span (限量66名)
                    //- .icon-wrapper
                    //-   .icon
                    //-     img(src='./img/coupon-icon-2.svg')
                    //-     .icon-more
                    //-       img(src='./img/coupon-icon-more.svg')
      .selectionPlatform-bg-wrapper
        .main-wrapper
          #selectionPlatform
            #selectionPlatform-description
              .swiper-container.mySwiper.mob-view
                .swiper-wrapper
                  .swiper-slide 
                    .role1.role
                      .shinyStart
                        img(src='./img/shiny-light.png')
                      .shinyStart
                        img(src='./img/shiny-light.png')
                      .shinyStart
                        img(src='./img/shiny-light.png')
                      .role-wrapper
                        .role-title
                          h3.sub-title 首部曲
                          h3.main-title 登錄
                        .role-descritption
                          .detail
                            h4 活動期間內完成
                              | 首次換匯登錄
                            h4 (限量5,000名)
                            h6 2021/09/01下午2點起
                            h6 開放登錄
                          a.btn.btn1(href="https://mma.sinopac.com/SinoCard/activity/verify/TP38?utm_source=mma&utm_medium=button&utm_term=nonpaid&utm_content=eventsignup&utm_campaign=dawhodance202109 " target="_blank")
                            p 立即登入
                          a.btn.btn2(href="https://mma.sinopac.com/SinoCard/activity/verify/TP39?utm_source=mma&utm_medium=button&utm_term=nonpaid&utm_content=eventsignup&utm_campaign=dawhodance202109 " target="_blank")
                            p 立即登入


                  .swiper-slide
                    .role2.role
                      .shinyStart
                        img(src='./img/shiny-light.png')
                      .shinyStart
                        img(src='./img/shiny-light.png')
                      .shinyStart
                        img(src='./img/shiny-light.png')
                      .role-wrapper
                        .role-title
                          h3.sub-title 二部曲
                          h3.main-title 綁定
                        .role-descritption
                          .detail
                            h4 完成永豐銀行LINE
                              br 
                              | 官方帳號個人化
                              br
                              | 實名綁定者
                          a.btn.btn1(href="https://linebc.sinopac.com/bcsweb/l/1675 " target="_blank")
                            //- img.bankImg(src="./img/bank-QrRcode.png")
                            p 綁定LINE
                          a.btn.btn2(href="https://linebc.sinopac.com/bcsweb/l/1675 " target="_blank")
                            //- img.bankImg(src="./img/bank-QrRcode.png")
                            p 綁定LINE
                  .swiper-slide
                    .role3.role
                      .shinyStart
                        img(src='./img/shiny-light.png')
                      .shinyStart
                        img(src='./img/shiny-light.png')
                      .shinyStart
                        img(src='./img/shiny-light.png')
                      .role-wrapper
                        .role-title
                          h3.sub-title 三部曲
                          h3.main-title 換匯
                        .role-descritption
                          .detail
                            h4 活動期間內完成
                              | 首次換匯登錄
                            h4 (限量5,000名)
                            h6 2021/09/01下午2點起
                            h6 開放登錄
                          a.btn.btn1(href="https://dawho.tw/hot/dawhoapp-exchange/?utm_source=dawho&utm_medium=button&utm_term=nonpaid&utm_content=exchange&utm_campaign=dawhodance202109 " target="_blank")
                            p 立即登入
                          a.btn.btn2(href="https://dawho.tw/hot/dawhoapp-exchange/?utm_source=dawho&utm_medium=button&utm_term=nonpaid&utm_content=exchange&utm_campaign=dawhodance202109 " target="_blank")
                            p 立即登入

                .swiper-button-prev
                .swiper-button-next
              .web-view
                #selectionPlatform-description-innerWrapper
                  .role1.role
                    .shinyStart
                      img(src='./img/shiny-light.png')
                    .shinyStart
                      img(src='./img/shiny-light.png')
                    .shinyStart
                      img(src='./img/shiny-light.png')
                    .role-wrapper
                      .role-title
                        h3.sub-title 首部曲
                        h3.main-title 登錄
                      .role-descritption
                        .detail
                          h4 活動期間內完成
                            | 首次換匯登錄
                          h4 (限量5,000名)
                          h6 2021/09/01下午2點起
                          h6 開放登錄
                        a.btn.btn1(href="https://mma.sinopac.com/SinoCard/activity/verify/TP38?utm_source=mma&utm_medium=button&utm_term=nonpaid&utm_content=eventsignup&utm_campaign=dawhodance202109 " target="_blank")
                          p 立即
                            br
                            | 登入
                        a.btn.btn2(href="https://mma.sinopac.com/SinoCard/activity/verify/TP39?utm_source=mma&utm_medium=button&utm_term=nonpaid&utm_content=eventsignup&utm_campaign=dawhodance202109 " target="_blank")
                          p 立即
                            br
                            | 登入
                  .role2.role
                    .shinyStart
                      img(src='./img/shiny-light.png')
                    .shinyStart
                      img(src='./img/shiny-light.png')
                    .shinyStart
                      img(src='./img/shiny-light.png')
                    .role-wrapper
                      .role-title
                        h3.sub-title 二部曲
                        h3.main-title 綁定
                      .role-descritption
                        .detail
                          h4 完成永豐銀行LINE
                            br 
                            | 官方帳號個人化
                            br
                            | 實名綁定者
                        a.btn.btn1(href="https://linebc.sinopac.com/bcsweb/l/1675" target="_blank")
                          img.bankImg(src="./img/bank-QrRcode.png")
                          p.small 綁定LINE
                        a.btn.btn2(href="https://linebc.sinopac.com/bcsweb/l/1675" target="_blank")
                          img.bankImg(src="./img/bank-QrRcode.png")
                          p.small 綁定LINE
                  .role3.role
                    .shinyStart
                      img(src='./img/shiny-light.png')
                    .shinyStart
                      img(src='./img/shiny-light.png')
                    .shinyStart
                      img(src='./img/shiny-light.png')
                    .role-wrapper
                      .role-title
                        h3.sub-title 三部曲
                        h3.main-title 換匯
                      .role-descritption
                        .detail
                          h4 活動期間內完成
                            | 首次換匯登錄
                          h4 (限量5,000名)
                          h6 2021/09/01下午2點起
                          h6 開放登錄
                        a.btn.btn1(href="https://dawho.tw/hot/dawhoapp-exchange/?utm_source=dawho&utm_medium=button&utm_term=nonpaid&utm_content=exchange&utm_campaign=dawhodance202109 " target="_blank")
                          p 立即
                            br
                            | 登入
                        a.btn.btn2(href="https://dawho.tw/hot/dawhoapp-exchange/?utm_source=dawho&utm_medium=button&utm_term=nonpaid&utm_content=exchange2&utm_campaign=dawhodance202109  " target="_blank")
                          p 立即
                            br
                            | 登入
      .selectionDetail-bg-wrapper
        .main-wrapper
          #selectionDetail
            #selectionDetail-description
              #selectionDetail-description-innerWrapper
                .top
                  .detail1
                    span.smallTitle *註1
                    h4 「首次換匯的新舞伴」定義：於2019/06/17~2021/08/31，永豐DAWHO新臺幣帳戶未曾於網路銀行 / 行動銀行APP / DAWHO APP 等進行線上換匯交易者。
                  .detail2 
                    span.smallTitle *註2
                    h4 「
                      span.gold 最懂換匯的舞王舞后
                      | 」定義：於2019/06/17~2021/08/31，永豐DAWHO新臺幣帳戶曾於網路銀行/行動銀行APP/DAWHO APP等進行線上換匯交易者。
                .bottom
                  p *本活動不適用永豐金控及其子公司員工。
                  p *換匯需以DAWHO數位帳戶之新臺幣帳戶使用DAWHO APP進行以新臺幣換匯外幣達門檻，
                  p 並於2021/09/30 23：59前DAWHO數位帳戶外幣存款大於0，始符合抽獎資格。
            #extra-banner
              span.smallTitle 
                | 外
                br
                | 傳
              .container
                h6 DAWHO美金活存最高
                  span.red 1%
                a.btnMore(href="https://bank.sinopac.com/sinopacBT/webevents/210801-usd-currentdeposit/index.html?utm_source=dawho&utm_medium=button&utm_term=nonpaid&utm_content=bonus&utm_campaign=dawhodance202109 " target="_blank") 了解更多
            #btn-detail
              .small-tool
                img(src="./img/btn-line.png", alt="")
                img.plus(src="./img/btn-plus.png")
              p 注意事項 
              .small-tool
                img.plus(src="./img/btn-plus.png")
                img(src="./img/btn-line.png", alt="")



      .dialog-bg
        .dialog-wrapper
          .main-wrapper
            #dialog-btn.dialog-btn
              img(src='img/dialog-close.svg')
            .dialog-content
              .title
                img(src='img/dialog-line.png')
                img.dot1(src='img/dialog-dot.png') 
                p 注意事項
                img.dot(src='img/dialog-dot.png')
                img(src='img/dialog-line.png')
              ul.description
               
                li 1.  參加本活動之帳戶持有人須於2021/09/30 23:59前登錄活動，完成永豐LINE官方帳號個人化實名綁定(含原先已綁定者)，並同時符合活動門檻之成功交易為依據，始符合回饋資格，逾期未登錄或未完成實名綁定者，恕無法補登參加。每一自然人限參加一項活動並僅限一次回饋資格。活動將於2021/11/15前由永豐LINE官方帳號以「推播訊息」方式，將中獎訊息發送至得獎者對話視窗。推播得獎訊息前，若因封鎖永豐LINE官方帳號或解除綁定以致未能取得獎項者，本行恕不補發。

                li 2.  符合「首次換匯的新舞伴」限量回饋名單以成功登錄時間先後排序，且同時符合本活動條件為準，依序回饋至額滿5,000名為止。僅完成登錄或非DAWHO客戶均不符合獲贈資格，查詢時間與公告時間仍會有落差，以本行實際接受登錄之時間為準。
                li 3.  符合「最懂換匯的舞王舞后」限量回饋名單以成功登錄且同時符合本活動條件為準，本活動將於2021/11/15前由本行以電腦隨機抽出中獎名單並公告於本活動頁，其抽獎、中獎或兌獎紀錄均以本行電腦系統紀錄為準，每人至多一次中獎機會。活動參與者須同意且授權永豐銀行於獲獎時公開部分姓名、部分身分證字號，敬請關注相關公告。
                li 4. 「首次換匯的新舞伴」定義為於2019/06/17~2021/08/31間，ID下全部新臺幣帳號均未曾進行網路銀行/行動銀行APP/大戶APP等進行線上換匯交易者，以下交易範例(包含但不限於)為不適用本活動 :
                  ul 
                    li A 參加人為DAWHO且持有永豐實體帳戶，並於2019/11/30曾於行動銀行APP換匯成功者。
                    li B 參加人曾為永豐實體帳戶(目前實體帳戶已銷戶)，曾於2020/10/01於MMA金融交易網換匯成功者。

                li 5. 「最懂換匯的舞王舞后」定義為於2019/06/17~2021/08/31間，ID下全部新臺幣帳號曾進行網路銀行/行動銀行APP/大戶APP等進行線上換匯交易者。
                li 6.  本活動換匯交易係指使用DAWHO數位帳戶於永豐網路銀行、行動銀行或DAWHO APP承作涉及新臺幣換匯外幣之買賣外幣交易，不包含使用新臺幣帳戶扣帳之預約外幣現鈔交易及匯出匯款(含Visa直接通)交易。
                li 7.  本活動之有效登錄及交易紀錄，均以本行電腦系統紀錄與本行認定為準，經本行檢視不符合得獎資格者，或參加人有其他不正當或非法行為，本行有權取消其領獎資格。若有任何因為電腦、網路、電話、技術或其他不可歸責於本行之事由，而使參加人所登錄之資料有遺失、錯誤、無法辨識或毀損情況，本行不負任何法律責任，參加人亦不得因此異議。
                li 8.  本活動贈送之贈品恕無法要求折換現金、轉讓或提領。
                li 9.  本行有權檢視各項交易，若參加人有違反活動注意事項之行為或涉及不正當得利及非法行為，或參加人得獎後如於獎項寄送前帳戶狀態為銷戶、警示、帳戶未正式啟用皆視為非有效DAWHO數位帳戶，及未維持永豐LINE官方帳號個人化實名綁定有效狀態(未解綁、好友封鎖)，將喪失活動參與資格。
                li 10. 如遇產品缺貨或不可抗力之事由導致贈品內容須變更，本行有權變更贈品，改由等值商品取代之。
                li 11. 參加本活動之得獎人(若為中華民國境內居住之個人)無論得獎金額多寡，本行將依各類所得扣繳率標準，就回饋金所得代為申報，並開立所得稅扣繳憑單；若得獎人不願接受扣繳憑單，本行將取消得獎資格。
                li 12. 承作外匯存款須承擔日後兌換為新臺幣或其他幣別可能產生之匯兌風險，於承作時應審慎評估。
                li 13. 買賣外幣/轉帳交易時間：
                  ul 
                    li 臺灣地區營業時間09:00~23:00。
                    li 透過網路銀行辦理涉及新臺幣結匯且單筆/累計達等值新臺幣50萬元，服務時間為09:00~15:30。
                li 14. 參加人於參加活動時，即視為同意接受本活動注意事項規範；參加人得獎後如經發現資格不符合或違反本活動規定事項者，本行保有取消其中獎資格之權利。
                li 15. 本活動不適用永豐金控及其子公司員工。
                li 16. 永豐銀行保留隨時修改、終止或變更本活動之權利，更動之活動時間與內容方式，以本行網站公布為準；若有其他未盡事宜，悉依本行相關規定或解釋為準。

    .footer-bg
      footer
        .selection1
          img.copyRight(src='./img/copyright-sign.png')
          p
            | 版權所有 
          span.logo 
            img(src='./img/footerLogo.svg')
          p 永豐銀行
        .selection1
          a(href="https://bank.sinopac.com/sinopacBT/footer/privacy-statement.html ") 隱私權聲明

        //- .selection2
          
            
    // js
    script(src='./js/lib/jquery.min.js')
    script(src='./js/lib/gsap.min.js')
    script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
    script.
      var swiper = new Swiper(".mySwiper", {
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    script(src='./js/index.js')
